<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />

    <title>Uyarılar (Alerts)</title>
  </head>
  <body>
    <div class="container my-5">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="alert alert-success">
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum
            dolor sit amet.Lorem ipsum dolor sit amet.
          </div>

          <div class="alert alert-warning">
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum
            dolor sit amet.Lorem ipsum dolor sit
            <a href="#" class="alert-link">tıklayın</a>
          </div>

          <div
            class="alert alert-danger alert-dismissible fade show"
            id="myAlert"
          >
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="alert"
              aria-label="Close"
            ></button>
            <h3 class="alert-heading">Dikkat!</h3>
            Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum
            dolor sit amet.Lorem ipsum dolor sit
            <a href="#" class="alert-link">tıklayın</a>
            <hr />
            <p>
              Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.Lorem ipsum
              dolor sit amet.Lorem ipsum dolor sit
            </p>
          </div>
        </div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
    <script>
      var myAlert = document.getElementById("myAlert");
      myAlert.addEventListener("close.bs.alert", function () {
        alert("kapandı!");
      });
    </script>
  </body>
</html>
