<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <title>Listeler (List Group)</title>

</head>
<body>

<div class="container my-5">

    <div class="row">
        <div class="col-md-6">

            <ul class="list-group">
                <li class="list-group-item">Öğe 1</li>
                <li class="list-group-item active">Öğe 2</li>
                <li class="list-group-item">Öğe 3</li>
                <li class="list-group-item disabled">Öğe 4</li>
            </ul>

            <hr>

            <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action">Bağlantı 1</a>
                <a href="#" class="list-group-item list-group-item-action">Bağlantı 2</a>
                <a href="#" class="list-group-item list-group-item-action active">Bağlantı 3</a>
                <a href="#" class="list-group-item list-group-item-action">Bağlantı 4</a>
            </div>

            <hr>

            <div class="list-group list-group-flush">
                <a href="#" class="list-group-item list-group-item-action">Bağlantı 1</a>
                <a href="#" class="list-group-item list-group-item-action">Bağlantı 2</a>
                <a href="#" class="list-group-item list-group-item-action active">Bağlantı 3</a>
                <a href="#" class="list-group-item list-group-item-action">Bağlantı 4</a>
            </div>

            <hr>

            <ol class="list-group list-group-numbered">
                <li class="list-group-item list-group-item-action">Bağlantı 1</li>
                <li class="list-group-item list-group-item-action">Bağlantı 2</li>
                <li class="list-group-item list-group-item-action active">Bağlantı 3</li>
                <li class="list-group-item list-group-item-action">Bağlantı 4</li>
            </ol>

        </div>

        <div class="col-md-6">


            <ul class="list-group list-group-horizontal">
                <li class="list-group-item">Yatay 1</li>
                <li class="list-group-item active">Yatay 2</li>
                <li class="list-group-item list-group-item-danger active">Yatay 3</li>
                <li class="list-group-item">Yatay 4</li>
            </ul>

        </div>
    </div>

</div>


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js" integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf" crossorigin="anonymous"></script>
</body>
</html>